{% extends 'layout.html' %} {% block title %}Search{% endblock %} {% block content %}

<h1>Your claimed Data</h1>
<div id="container">

    <div id="athlete"></div>

    <table>
        <thead>
            <th>Race Name</th>
            <th>Year</th>
            <th>Swim Time</th>
            <th>Run Time</th>
            <th>Cycle Time</th>
            <th>Final Time</th>
        </thead>
        <tbody id="tblRows"></tbody>
    </table>
    <button id="add" type="button" class="btn btn-primary btn-lg">Add</button>
    <button id="submit" type="button" class="btn btn-primary btn-lg">Submit</button>
</div>

<script type="text/template" id="details">
     <div id="athlete-control-group">
        <div class="large-4 columns">
            <input id="first_name" type="text" value="<%= first_name %>"/>
            <small name="first_name"></small>
        </div>

        <div class="large-4 columns">
            <input id="last_name" type="text" value="<%= last_name %>"/>
            <small name="last_name"></small>
        </div>

        <div class="large-4 columns">
            <input id="email" type="text" value="<%= email %>"/>
            <small name="email"></small>
        </div>
      </div>
</script>

<script type="text/template" id="row">
    <td>
        <select id="race_name"></select>
    </td>
    <td>
        <select id="race_year"></select>
    </td>
    <td>
        <input id="swim_time" type="text" value="<%= _pivot_swim_time %>"/>
        <small name="_pivot_swim_time-<%= id %>"></small>
    </td>

    <td>
        <input id="run_time" type="text" value="<%= _pivot_run_time %>"/>
        <small name="_pivot_run_time-<%= id %>"> </small>
    </td>

    <td>
        <input id="cycle_time" type="text" value="<%= _pivot_cycle_time %>"/>
        <small name="_pivot_cycle_time-<%= id %>"> </small>
    </td>

    <td>
        <input id="final_time" type="text" value="<%= _pivot_final_time %>"/>
        <small name="_pivot_final_time-<%= id %>"></small>
    </td>
</script>

<script src="/bundle/claimAppBundle.js"></script>

{% endblock %}
