{% extends 'layout.html' %} {% block content %}
<div class="container result-grid">
    <div class="row">
        <div class="col-lg-12 centered">
            <form id="athleteSearch" method="GET" action="/compare" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" name="athlete_id" class="form-control input-sm searchBox" placeholder="Athlete id" size="20">
                </div>
                <div class="form-group">
                    <input type="text" name="race_id" class="form-control input-sm searchBox" placeholder="Race id" size="20">
                </div>
                <div class="form-group">
                    <input type="text" name="with_race_id" class="form-control input-sm searchBox" placeholder="With race id" size="20">
                </div>
                <input class="btn btn-md btn-primary" type="submit" value="compare"></input>
            </form>
        </div>
    </div>
    <span>
        <h3>{{first_name}}</h3>
    </span>
    <span>
        <h3>{{last_name}}</h3>
    </span>

    <table class="table">
        <thead>
            <th></th>
            <th>{{race.year}} {{race.name}}</th>
            <th>{{comparedRace.year}} {{comparedRace.name}}</th>
        </thead>
        <tbody id="tblRows">
            <tr>
                <td>Actual time</td>
                <td>{{athleteRaceResult.final_time}}</td>
                <td>{{comparedAthleteRaceResult.final_time}}</td>
            </tr>
            <tr>
                <td>Predicted time</td>
                <td>N/A</td>
                <td>{{predictedTime}}</td>
            </tr>
            <tr>
                <td>Age Group Rank</td>
                <td>{{raceAgeGroupRank}}</td>
                <td>{{comparedRaceAgeGroupRank}}</td>
            </tr>
            <tr>
                <td>Age Group Percentile</td>
                <td>{{raceAgeGroupPercentile}}th percentile</td>
                <td>{{comparedRaceAgeGroupPercentile}}th percentile</td>
            </tr>
            <tr>
                <td>High Temperature</td>
                <td>{{race.high_temp}}</td>
                <td>{{comparedRace.high_temp}}</td>
            </tr>
            <tr>
                <td>Low Temperature</td>
                <td>{{race.low_temp}}</td>
                <td>{{comparedRace.low_temp}}</td>
            </tr>
            <tr>
                <td>High Humidity</td>
                <td>{{race.high_humidity}}%</td>
                <td>{{comparedRace.high_humidity}}%</td>
            </tr>
            <tr>
                <td>Low Humidity</td>
                <td>{{race.low_humidity}}%</td>
                <td>{{comparedRace.low_humidity}}%</td>
            </tr>
            <tr>
                <td>Dew Point</td>
                <td>{{race.dew_point}}F</td>
                <td>{{comparedRace.dew_point}}F</td>
            </tr>
            <tr>
                <td>Peak Wind Speed</td>
                <td>{{race.peak_wind_speed}}</td>
                <td>{{comparedRace.peak_wind_speed}}</td>
            </tr>
            <tr>
                <td>Precipitation</td>
                <td>{{race.precipitation_inches}}"</td>
                <td>{{comparedRace.precipitation_inches}}"</td>
            </tr>
            <tr>
                <td>Age Group Wining Time</td>
                <td>{{raceAgeGroupWiningTime}}</td>
                <td>{{comparedRaceAgeGroupWiningTime}}</td>
            </tr>
            <tr>
                <td>Age Group 10th Percentile</td>
                <td>{{raceAgeGroup10Percentile}}</td>
                <td>{{comparedRaceAgeGroup10Percentile}}</td>
            </tr>
        </tbody>
    </table>

</div>


{% endblock %}
