{% extends 'layout.html' %}

{% block head %}

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Duru+Sans|Belgrano|Muli|Alef|Telex|Varela&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="css/confirmation.css" />
{% endblock %}

{% block content %}
    <div id="header">
    	<div id="logo">
        	<i class="fa fa-bar-chart-o"></i>
        	<a href="/">DATATHLETICS</a>
    	</div>
	    <div id="topnav">
	        <ul>
	            <li><a href="#whatwedo">What We Do</a></li>
	            <li><a href="#howitworks">Our Analysis</a></li>
	        </ul>
	    </div>
	</div>

    <div class="container">
    	<div class="logoIcon">
    		<i class="fa fa-bar-chart-o"></i>
    	</div>
    	<div class="headline">
    		<h1>We've received your request!</h1>
    	</div>
    	<div class="explanation">
    		<p>We'll get to work analyzing your race history and extracting insights about how you perform in hot conditions.</p>
    		<p>You'll receive your personal report by email within 48 hours.</p>
    	</div>
    	<div class="linebreak"></div>
    </div>

    <div id="copyright">
        <p>&copy; 2013-2014 Datathletics, LLC. All rights reserved.
    </div>



{% endblock %}
