{% extends 'layout.html' %}

{% block head %}

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Duru+Sans|Belgrano|Muli|Alef|Telex|Varela&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="css/confirmation.css">
{% endblock %}

{% block content %}


    <div id="copyright">
        <p>&copy; 2013-2014 Datathletics, LLC. All rights reserved.
    </div>



{% endblock %}
