{% extends 'layout.html' %}

{% block head %}

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Duru+Sans|Belgrano|Muli|Alef|Telex|Varela&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="css/landing.css" />
    <link rel="stylesheet" href="/css/base.css" />
{% endblock %}


{% block content %}

    <div id="landing">
<!--         <div id="header">
            <div id="logo">
                <i class="fa fa-bar-chart-o"></i>
                <a href="/">DATATHLETICS</a>
            </div>
            <div id="topnav">
                <ul>
                    <li><a href="#howitworks">Our Analysis</a></li>
                    <li><a href="#whatwedo">What We Do</a></li>
                </ul>
            </div>
        </div> -->

        <h1>Harness the heat</h1>
        <p>Discover how heat affects you as an athlete. Compare with competitors. Turn knowledge into advantage.</p>

        <div class="stepsContainer">
            <div class="step" id="step1">
                <h2>1</h2>
                <p>Claim your qualifying races.</p>
            </div>
            <div class="step" id="step2">
                <h2>2</h2>
                <p>We analyze your race history.</p>
            </div>
            <div class="step" id="step3">
                <h2>3</h2>
                <p>We send you a personal report with our findings.</p>
            </div>
        </div>

        <div class="search">
            <form method="GET" action="/search">
	            <div class="row">
	                <div class="small-8">
	                    <div class="row collapse">
	                        <div class="small-9 columns">
	                            <input type="text" name="q" class="searchBox" placeholder="Search by first and last name">
	                        </div>
	                        <div class="small-2 columns">
	                            <input type="submit" style="background-image: url(images/fontawesome_search_icon.png); background-size:90%; background-position: center; background-repeat:no-repeat; height:44px; width:44px; border:none" alt="Search" value="" class="searchIcon"></input>
	                        </div>
	                    </div>
	                </div>
	            </div>
        </div>
    </div>

    <div id="howitworks">
        <div class="howitworksContainer">
            <h2>Our Analysis</h2>
            <div class="linebreak"></div>
            <p>We were curious how temperature affects triathletes. So, we broke out our calculators.

                <p class="parenthetical">(We're triathletes and data scientists. Impromptu analytical musings are standard around here.)</p>

                <p>We found that all triathletes are affected by temperature -- no surprises there -- but that
                    <em>nearly every triathlete is affected differently</em>.</p>

                <div class="graph1">
                    <p>Take a look at Ironman Lake Placid, held each summer in beautiful upstate New York. In 2007, the high temperature on race day was 76&deg;; in 2008, it was 94&deg;. The entire population of athletes slowed by nearly two hours in the latter year.
                        <br>
                        <br>But the athletes who placed in the top 10% in 2008 were different than those in 2007. Even on an identical course with similar competition, the temperature favored very different athletes.</p>
                    <img src="images/IMLP_at_different_high_temperatures.jpg" height="200" width="300">
                </div>

                <p>In very cold temperatures, athletes move slowly. As things warm up, performance begins to improve -- until a certain temperature (75-80 degrees for most athletes), beyond which the heat begins to slow times down again. Using tens of thousands of race results, we extracted a parabolic function that describes this relationship.</p>

                <div class="graph2">
                    <img src="images/Average_race_time_vs_high_temp.jpg" height="200" width="300">
                    <p>Every triathlete has his or her own parabolic relationship with race-day temperature. It's sort of like a signature. Here's Craig Alexander's parabola, for example.</p>
                    <p>We use an athlete's historical race performances to construct her parabola. The parabola is interesting, but it's pretty abstract. So, the next step is to draw out more concrete insights about the athlete.</p>
                </div>

                <p>Our most popular insight has to do with an athlete's
                    <em>relative deceleration</em>. That's fancy-talk for the answer to two simple questions:
                    <em>How much do I slow down for every degree the temperature rises?</em>and
                    <em>How does that compare to my competitors?</em>
                </p>
                <p>Our analysis extracts this information, and we bundle it up into an easy-to-understand report that we think can help you become a smarter triathlete.</p>
        </div>
    </div>

    <div id="whatwedo">
        <div class="whatwedoContainer">
            <h2>What We Do</h2>
            <div class="linebreak"></div>
            <p>It's a breezy Saturday afternoon. A group of triathlete friends are gathered for a post-long ride BBQ in the Capitol Hill neighborhood of Washington, DC. Somebody's puppy is scavenging for the few scraps these hungry bodies aren't devouring themselves.</p>

            <p>The conversation turns to racing. Qualifers for Kona have proliferated, and the 70.3 race calendar has exploded. With over 100 races now qualifying athletes for championship events, deciding where to race is suddenly nearly as important as an athlete's training.</p>

            <p>A question emerges... </p>

            <p><em>How well do we really understand our individual advantages as athletes? If we understood ourselves better, could we make better decisions? Could we improve our performance?</em></p>

            <p>The team at Datathletics believes the answer is a resounding <em>Yes!</em></p>

            <p>A medley of athletes, data scientists, and software developers, we're on a mission to help triathletes make smarter decisions. We study race outcomes, analyze how triathletes perform under the full range of race circumstances, and extract explanations for why individual athletes react differently to the same variables.</p>

            </p>With each stride in our research, we look for ways to share our findings with triathletes. We may be data dorks, but our research is far from theoretical. We always keep our end goal in mind: To help real triathletes make smarter decisions.</p>
        </div>
    </div>
{% endblock %}

