<!DOCTYPE html>

<html>

<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans|Belgrano|Muli|Alef|Telex|Varela&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/landing.css" />
    <title>Datathletics</title>
</head>

<body>
    <div id="landing">
        <div id="header">
            <div id="logo">
                <i class="fa fa-bar-chart-o"></i>
                DATATHLETICS
            </div>
            <div id="topnav">
                <ul>
                    <li>What We Do</li>
                    <li><a href="#howitworks">Our Analysis</a></li>
                </ul>
            </div>
        </div>

        <h1>Harness the heat</h1>
        <p>Discover how heat affects you. Compare with competitors. Turn knowledge into advantage.</p>

        <div class="stepsContainer">
            <div class="step" id="step1">
                <h2>1</h2>
                <p>Claim your qualifying races.</p>
            </div>
            <div class="step" id="step2">
                <h2>2</h2>
                <p>We analyze your race history.</p>
            </div>
            <div class="step" id="step3">
                <h2>3</h2>
                <p>We send you a personal report with our findings.</p>
            </div>
        </div>

        <div class="search">
            <form method="GET" action="/search">
	            <div class="row">
	                <div class="small-8">
	                    <div class="row collapse">
	                        <div class="small-9 columns">
	                            <input type="text" name="q" class= "searchBox" placeholder="Search by first and last name">
	                        </div>
	                        <div class="small-2 columns">
	                            <input type="submit" value="submit"/>
	                        </div>
	                    </div>
	                </div>
	            </div>
        	</form>

            <div class="searchIcon">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>

    <div id="howitworks">
        <div class="howitworksContainer">
            <h2>Our Analysis</h2>
            <div class="linebreak"></div>
            <p>We were curious how temperature affects triathletes. So, we broke out our calculators.

                <p class="parenthetical">(We're triathletes and data scientists. Impromptu analytical musings are standard around here.)</p>

                <p>We found that all triathletes are affected by temperature -- no surprises there -- but that
                    <em>nearly every triathlete is affected differently</em>.</p>

                <div class="graph1">
                    <p>Look at Ironman Eagleman 70.3 in Cambridge, Maryland. In 2007, the high temperature on race day was 76 degrees; in 2008, it was 94. The entire population of athletes was slower in the latter year.
                        <br>
                        <br>But the athletes who placed in the top 10% in 2008 were different than those in 2007. Even on an identical course with similar competition, the temperature favored very different athletes each year.</p>
                    <img src="http://www.maa.org/sites/default/files/images/upload_library/46/stemkoski/cramer/ThreePointParabola.png" height="200" width="300">
                </div>

                <p>In very cold temperatures, athletes move slowly. As things warm up, performance begins to improve -- until a certain temperature (75-80 degrees for most athletes), beyond which the heat begins to slow times down again. Using tens of thousands of race results, we extracted a parabolic function that describes this relationship.</p>

                <div class="graph2">
                    <img src="images/Average_race_time_vs_high_temp.jpg" height="200" width="300">
                    <p>Every triathlete has his or her own parabolic relationship with race-day temperature. It's sort of like a signature. Here's Craig Alexander's parabola, for example.</p>
                    <p>We use an athlete's historical race performances to construct her parabola. The parabola is interesting, but it's pretty abstract. So, the next step is to draw out more concrete insights about the athlete.</p>
                </div>

                <p>Our most popular insight has to do with an athlete's
                    <em>relative deceleration</em>. That's fancy-talk for the answer to two simple questions:
                    <em>How much do I slow down for every degree the temperature rises?</em>and
                    <em>How does that compare to my competitors?</em>
                </p>
                <p>Our analysis extracts this information, and we bundle it up into an easy-to-understand report that we think can help you become a smarter triathlete.</p>
        </div>
    </div>

    <div id="whatwedo">
        <div class="whatwedoContainer">
            <h2>What We Do</h2>
            <div class="linebreak"></div>
            <p>new paragraph starts here</p>
        </div>
    </div>

</body>

</html>
