<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Datathletics</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- start Mixpanel -->
    <script type="text/javascript">
        (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);

        mixpanel.init("e09c6537330997bd973bce8380f258db");
    </script>
    <!-- end Mixpanel -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% block head %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans|Belgrano|Muli|Alef|Telex|Varela&subset=latin,latin-ext' rel='stylesheet' type='text/css'>{% endblock %} {% block custom_css %} {% endblock %}
</head>

<body>
    <div class="wrap">
        <div class="site-header">
            <div id="logo">
                <i class="fa fa-bar-chart-o"></i>
                <a href="/">DATATHLETICS</a>
            </div>
            <div id="topnav">
                <ul>
                    <li><a href="/landing#howitworks">Our Analysis</a>
                    </li>
                    <li><a href="/landing#whatwedo">What We Do</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block footer %}
    <div class="footerContainer">
        <ul>
            <li><a href="/">Home</a>
            </li>
            <li>|</li>
            <li><a href="/landing#whatwedo"> What We Do</a>
            </li>
            <li>|</li>
            <li><a href="/landing#howitworks">Our Analysis</a>
            </li>
        </ul>
    </div>
    {% endblock %}

    <script type="text/javascript">
        mixpanel.track_links("#topnav", "Click how we work", {
            "referrer": document.referrer
        });
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49160228-1', 'datathletics.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
</body>

</html>
