{% extends 'layout.html' %} {% block content %}

<div class="banner">
    <div id="raceform">
        <h3>SCIENCE + SPORT</h3>
        <p>Discover what affects you as an athlete</p>
        <p>Compare with competitors</p>
        <p>Turn knowledge into advantage</p>
        <span id="lines"></span>
        <form>
            <input type="text" id="rf_email" placeholder="email address" />
            <input type="submit" id="rf_submit" value="GET STARTED">
        </form>
<!--        <h4>GET STARTED</h4>
-->
    </div>
</div>
<div id="analysis">
    <div id="about-content">
        <div id="ab-content1">
            <h3>OUR ANALYSIS</h3>
            <img src="images/about1.png">
            <div id="ab-content1-copy">
                <p><b>Endurance sports are about heart.</b></br>You celebrate the glorious days and gruel it out on the tough days. On race day, you reach deep inside yourself, yearning to know what you'll find. Every time, you discover a little bit more about yourself.</p>
                <p><b>Endurance sports are also about science.</b></br>Physiology. Aerodynamics. Hydrodynamics. Nutrition. While you pour your heart out, we study miles, heartbeats, watts, vertical feet, and tons more. And we turn it all into your personal plan of attack.</p>
                <p><b>Heart + Science. Together. Finally.</b></p>
            </div>
        </div>
        <div id="ab-content2">
            <img src="images/about2.png">
            <div id="ab-content2-copy">
                <h3>SCIENTIFIC ADVANTAGE</h3>
                </br>
                <p><b>Science offers answers.</b> Endurance athletes are full of questions. Where should I race to maximize my chances of qualifying? Where are my best opportunities for improvement? How should I adjust my training from here?</p>
                <p><b>Science is your secret weapon.</b> We've studied more than 600,000 endurance athletes. Our world-class data sciences help athletes of all levels harness the power of science to their advantage.</p>
                <p>
            </div>
        </div>
    </div>
    <div id="about">
        <h3>ABOUT US</h3>
        <p><b>Our Mission</b></p>
        <p>To empower and equip endurance athletes to make smart, educated choices about their training and performance. As pioneers of human capacity, we strive to transform knowledge into advantage to help  athletes reach their potential.</p>
        <br>
        <p><b>We believe:</b></p>
            <ul>
                <p> <i class="fa fa-heart fa-2x"></i> &nbsp; Endurance sports are rooted in both heart and science.</p>
                <p><i class="fa fa-puzzle-piece fa-2x"></i> &nbsp; Every athlete is unique. Analytics and advice should be hyper-personalized.</p>
                <p><i class="fa fa-key fa-2x"></i> &nbsp; Data fuels progress, but tremendous amounts of athlete data remain untapped.</p>
                <p><i class="fa fa-rocket fa-2x"></i> &nbsp; Unleashing new data propels athletes toward their goals.</p>
                <p><i class="fa fa-pie-chart fa-2x"></i> &nbsp; Analytics should be clear, understandable, and powerful.</p>
            </ul>
    </div>
</div>

{% include "partials/_plans.html" %}

{% endblock %}
