{% extends 'search.html' %} {% block search_data %}

<div class="container result-grid">
    <ul class="list-unstyled">
        {% for athlete in athletes %}
        <li class="list-unstyled">
        <div class="row">
            <p class="lead">
                <strong>{{ athlete.first_name }} {{ athlete.last_name }}</strong>
                <a class="btn btn-success" href="/claim/{{athlete.id}}/athlete">claim</a>
            </p>
            <table class="table">
                <thead>
                    <th>Race Name</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Swim Time</th>
                    <th>Bike Time</th>
                    <th>Run Time</th>
                    <th>Final Time</th>
                </thead>
                <tbody id="tblRows">
                    {% for race in athlete.races%}
                    <tr>
                        <td>{{race.name}}</td>
                        <td>{{race.location}}</td>
                        <td>{{race.date}}</td>
                        <td>{{race._pivot_swim_time}}</td>
                        <td>{{race._pivot_cycle_time}}</td>
                        <td>{{race._pivot_run_time}}</td>
                        <td>{{race._pivot_final_time}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
