{% extends 'layout.html' %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <form method="GET" action="/search">
            <div class="row">
                <div class="small-8">
                    <div class="row collapse">
                        <div class="small-3 columns">
                            <label for="right-label" class="right inline">Search</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" name="q" placeholder="name...">
                        </div>
                        <div class="small-2 columns">
                            <input type="submit" value="submit"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% block search_data %}{% endblock %}

{% endblock %}
