{% extends 'layout.html' %} {% block title %}Search{% endblock %} {% block content %}

<script type="text/template" id="searchBoxTemplate">
    <div class="row">
        <div class="large-12 columns">
            <form role="form">
                <div class="row">
                    <div class="small-8">
                        <div class="row collapse">
                            <div class="small-3 columns">
                                <label for="right-label" class="right inline">Search</label>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" id="q" placeholder="name..." >
                            </div>
                            <div class="small-2 columns">
                                <button type="button" href="#" id="btn">Go </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/template" id="raceDataTemplate">
    <tr>
      <td><%= name %></td>
      <td><%= email %></td>
      <td><%= packages %></td>
    </tr>
</script>

<div id="search"></div>

<div id="searchResults">
    <table>
      <thead>
        <tr>
          <th width="200">Table Header</th>
          <th width="150">Table Header</th>
          <th width="150">Table Header</th>
        </tr>
      </thead>
      <tbody id="tblRows">
      </tbody>
    </table>
</div>

<script src="bundle/searchAppBundle.js"></script>

{% endblock %}
