.footer {
    clear: both;
    width: 100%;
    height: 70px;
    background-color: #C83527;
}
.menu.left {
    float: left;
}
.footer .menu ul li:hover {
    background-color: #fff;
}
.footer .menu ul li a {
    color: #fff;
}
.footer .menu ul li a:hover, .footer .menu ul li:hover a {
    color: #C83527;
}
