body {
    margin: 0;
}

.centered {
    text-align: center;
}

.result-grid {
    width: 900px;
    height: inherit;
}

.container-height {
    height: 900px;
}

.site-header {
    background-color: black;
    padding-top:6px;
    padding-bottom:4px;
    background: 1577DA;
    background-position: bottom;
    border-bottom: 4px solid black;
}

.site-header a {
    color:white;
    text-decoration: inherit;
}

.site-header li {
    display:inline-block;
    padding: 0px 14px 0px 14px;
    cursor:pointer;
    line-height: 38px;
    vertical-align: middle;
}

.site-header ul {
    padding: 0px;
    margin: 0px;
}

#logo {
    display:inline-block;
    color:white;
    font-family:Courier;
    font-weight:bold;
    font-size:36px;
    margin-left:80px;
    padding-left:20px;
    cursor:pointer;
}
#topnav {
    display:inline-block;
    color:white;
    font-family:'Varela';
    font-size:14px;
    float:right;
    margin-right:150px;
}

.wrap {
    min-height: 100%;
    padding-bottom:75px;
}

.main {
    overflow:auto;
    padding-bottom: 50px;
    }  /* must be same height as the footer */ 

.footerContainer {
    position:relative;
    margin-top: -50px;
    height: 50px;
    clear: both;
    left:0px;
    bottom:0px;
    width:100%;
    background:gray;
    color:white;
    font-size:14px;
    text-align: center;
    font-family:Varela;
}

.footerContainer li {
    color:white;
    display:inline-block;
    margin-top:14px;
    padding:0px 10px 0px 10px;
}

.footerContainer a {
    color:white;
    text-decoration: none;
}
