.centered {
    text-align: center;
}

.result-grid {
    width: 900px;
    height: inherit;
}

.container-height {
    height: 900px;
}

.site-header {
    margin-top: -8px;
    margin-left: -8px;
    background-color: black;
    padding-top:4px;
    padding-bottom:4px;
    background: 1577DA;
    background-position: bottom;
    border-bottom: 4px solid black;
}

.site-header a {
    color:white;
    text-decoration: inherit;
}

.site-header li {
    display:inline-block;
    padding: 0px 14px 0px 14px;
    cursor:pointer;
    line-height: 38px;
    vertical-align: middle;
}

.site-header ul {
    padding: 0px;
    margin: 0px;
}

.site-footer {
    margin-top:0px;
    margin-left:-10px;
    height:50px;
    background:black;
    padding:0px;
}
.footerContainer {
    width:700px;
    margin-right:auto;
    margin-left:auto;
    color:white;
    font-size:14px;
    text-align:center;
    font-family:Varela;
}

#logo {
    display:inline-block;
    color:white;
    font-family:Courier;
    font-weight:bold;
    font-size:36px;
    margin-left:80px;
    padding-left:20px;
    cursor:pointer;
}
#topnav {
    display:inline-block;
    color:white;
    font-family:'Varela';
    font-size:14px;
    float:right;
    margin-right:150px;
}
