.form-control {
    width: auto;
    padding:1px 5px;
}

.result-grid {
    width: 900px
}

#ecap {
    margin-top: 90px;
}
#ecap input {
    display: inline;
}

.container {
	width:100%;
}

.claim-container {
	width:91%;
}

.confirmation-template {
	width:100%;
}

.email-template {
	width:100%;
}
