#confirmation-template {
	width:100%;
}

.confirmation-container {
	font-family:'Varela';
	width:700px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}

.logoIcon {
	text-align:center;
	font-size:60px;
	color:#2ECCFA;
}

.headline {
	text-align:center;
	color:black;
	font-size:22px;
}

.explanation {
	padding-left:70px;
	padding-right:70px;
	padding-top:0px;
	text-align:center;
}

.linebreak {
    margin-top:40px;
    border: 1px solid gray;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

#copyright {
    margin-top:200px;
    margin-left:-10px;
    height:50px;
    padding:0px;
    color:gray;
    text-align: center;
}
