 body {
     max-width: 2000px;
     width: 100%;
     margin: 0 auto;
     font-family: 'Open Sans', sans-serif;
     font-size: 18px;
 }
 h3 {
     font-size: 28px;
     font-weight: bold;
     font-family: 'Roboto', sans-serif;
 }
 .banner {
     clear: both;
     height: 700px;
     background: url(../images/banner.png) no-repeat;
 }
 #contact, #contact-logo, #contact-form {
     float: left;
 }
