{% extends '../layout.html' %} {% block content %}

 <h2>{{greetings}}</h2>

  <form action="/login" method="post">
    <p>
      <label>email:
        <input type="text" name="username" />
      </label>
    </p>
    <p>
      <label>Password:
        <input type="password" name="password" />
      </label>
    </p>
    <p>
      <button type="submit">Log In</button>
    </p>
    <a href="/signup"><strong>Or sign up for an account.</strong></a>
    <a href="/auth/facebook">Login with Facebook</a>
  </form>

{% endblock %}
